:root {
  --ember: rgb(107, 32, 0);
  --vermillion: rgb(196, 66, 26);
  --sandstone: rgb(249, 143, 69);
  --dusty: rgb(254, 222, 197);
  --mist: rgb(153, 207, 205);
  --aqua: rgb(18, 144, 142);
  --teal: rgb(22, 89, 74);
  --dropshadow: rgba(0, 0, 0, 0.5);
}

.aboutNav {
  width: 100vw;
  line-height: 1;
}

.aboutNav a {
  font-size: 12px;
  color: var(--ember);
}

.middleRow {
  border-right: 2px var(--vermillion) solid;
  border-left: 2px var(--vermillion) solid;
}

.aboutSect {
  height: 75vh;
  overflow-y: scroll;
}

#importance {
  background-color: rgba(153, 207, 205, 0.75);
  border-radius: 10%;
  padding: 30px 20px;
  margin: 20px;
  & h2 {
    color: var(--aqua);
  }
  & p {
    color: var(--teal);
  }
}

#ourStory {
  background-color: rgba(196, 66, 26, 0.75);
  border-radius: 10%;
  padding: 30px 20px;
  margin: 20px;
  & h2 {
    color: var(--dusty);
  }
  & p {
    color: var(--ember);
  }
}

#started {
  /* background-color: rgba(22, 89, 74, 0.75); */
  background-color: rgba(18, 144, 142, 0.75);
  border-radius: 10%;
  padding: 30px 20px;
  margin: 20px;
  & h2 {
    color: var(--mist);
  }
  & p {
    color: var(--teal);
  }
}

.burst {
  height: 500px;
  position: absolute;
  z-index: 9;
  bottom: 100px;
  left: -250px;
  overflow-x: hidden;
  opacity: 50%;
}

.animation {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1;
  margin: auto;
}

.square {
  position: relative;
  top: 100px;
  border-radius: 20px;
}

/* .mist {
  position: relative;
  top: 100px;
  background-color: var(--mist);
  border-radius: 20%;
} */
/* 
.aqua {
  position: relative;
  top: 100px;
  background-color: var(--aqua);
  border-radius: 20%;
}

.teal {
  position: relative;
  top: 100px;
  background-color: var(--teal);
  border-radius: 20%;
}

.sandstone {
  position: relative;
  top: 100px;
  background-color: var(--sandstone);
  border-radius: 20%;
}

.vermillion {
  position: relative;
  top: 100px;
  background-color: var(--vermillion);
  border-radius: 20%;
}

.small {
  height: 20px;
  width: 20px;
}

.large {
  height: 40px;
  width: 40px;
} */
