.opaqueBg {
  background-color: var(--mist);
  position: relative;
}

div > .searchEmblem {
  /* position: relative; */
}

.searchEmblem {
  /* position: absolute; */
  color: var(--ember);
}

.searchBar {
  border-radius: 10px;
  border: 1px solid var(--teal);
  background-color: var(--dusty);
  color: var(--ember);
}

.filterBar {
  border: 1px solid var(--teal);
  border-radius: 10px;
  background-color: var(--dusty);
  color: var(--ember);
}

.filterLabel {
  position: absolute;
  top: 0;
  right: 10vw;
}
