:root {
  font-size: 16px;
  --ember: rgb(107, 32, 0);
  --vermillion: rgb(196, 66, 26);
  --sandstone: rgb(249, 143, 69);
  --dusty: rgb(254, 222, 197);
  --mist: rgb(153, 207, 205);
  --aqua: rgb(18, 144, 142);
  --teal: rgb(22, 89, 74);
  --dropshadow: rgba(0, 0, 0, 0.5);
}

.lightOpaqueBg {
  background-color: var(--mist);
  position: relative;
}

.darkOpaqueBg {
  background-color: rgba(146, 197, 184, 0.5);
  position: relative;
}

div > .searchEmblem {
  /* position: relative; */
}

.searchEmblem {
  /* position: absolute; */
  color: var(--ember);
}

.searchBar {
  border-radius: 10px;
  border: 1px solid var(--teal);
  background-color: var(--dusty);
  color: var(--ember);
}

.filterBar {
  border: 1px solid var(--teal);
  border-radius: 10px;
  background-color: var(--dusty);
  color: var(--ember);
}

.filterLabel {
  position: absolute;
  top: 0;
  right: 10vw;
}
