.numberContainer {
  margin-top: 50px;
}

.numbers {
  margin: 10px;
  padding: 20px;
  font-size: 80px;
  font-family: "Accountant Signature";
  display: inline;
}

.firstFour {
  background-color: var(--sandstone);
  color: var(--dusty);
  filter: drop-shadow(7px 7px 0px var(--emberOp));
}

.oh {
  background-color: var(--mist);
  color: var(--dusty);
  filter: drop-shadow(7px -7px 0px var(--tealOp));
}

.secondFour {
  background-color: var(--vermillion);
  color: var(--dusty);
  filter: drop-shadow(7px 7px 0px var(--aquaOp));
}

.message {
  margin: 40px;
}

.intro {
  font-size: 25px;
  color: var(--vermillion);
}

@media screen and (min-width: 540px) {
  .numberContainer {
    margin-top: 100px;
  }

  .numbers {
    margin: 10px;
    padding: 30px;
    font-size: 120px;
  }

  .firstFour {
    filter: drop-shadow(10px 10px 0px var(--emberOp));
  }

  .oh {
    filter: drop-shadow(10px -10px 0px var(--tealOp));
  }

  .secondFour {
    filter: drop-shadow(10px 10px 0px var(--aquaOp));
  }

  .message {
    margin: 80px;
  }

  .intro {
    font-size: 35px;
  }

  .message p {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .numberContainer {
    margin-top: 100px;
  }

  .numbers {
    margin: 10px;
    padding: 50px;
    font-size: 150px;
  }

  .firstFour {
    filter: drop-shadow(12px 12px 0px var(--emberOp));
  }

  .oh {
    filter: drop-shadow(12px -12px 0px var(--tealOp));
  }

  .secondFour {
    filter: drop-shadow(12px 12px 0px var(--aquaOp));
  }

  .message {
    margin: 120px 90px;
  }

  .intro {
    font-size: 60px;
  }

  .message p {
    font-size: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .numberContainer {
    margin-top: 100px;
  }

  .numbers {
    margin: 15px;
    padding: 50px;
    font-size: 200px;
  }
  .firstFour {
    filter: drop-shadow(20px 20px 0px var(--emberOp));
  }

  .oh {
    filter: drop-shadow(20px -20px 0px var(--tealOp));
  }

  .secondFour {
    filter: drop-shadow(20px 20px 0px var(--aquaOp));
  }

  .message {
    margin: 120px;
  }

  .intro {
    font-size: 90px;
  }

  .message p {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .numberContainer {
    margin-top: 100px;
  }

  .numbers {
    margin: 15px;
    padding: 50px;
    font-size: 200px;
  }
  .firstFour {
    filter: drop-shadow(20px 20px 0px var(--emberOp));
  }

  .oh {
    filter: drop-shadow(20px -20px 0px var(--tealOp));
  }

  .secondFour {
    filter: drop-shadow(20px 20px 0px var(--aquaOp));
  }

  .message {
    margin: 120px;
  }

  .intro {
    /* font-size: 90px; */
  }

  .message p {
    font-size: 40px;
  }
}

@media screen and (min-width: 1400px) {
}
