.post {
  margin: auto;
  position: relative;
}

.postVideo {
  width: 100%;
  height: 315px;
}

.title {
  font-size: 2rem;
  color: var(--aqua);
}

.description {
  height: 50px;
  overflow-y: hidden;
}

.pageBreak {
  position: relative;
  margin-top: 10px;
}

.viewable {
  color: black;
  background-color: var(--mist);
  width: auto;
  border: none;
}

.border {
  height: 5px;
  width: 100%;
  background-color: var(--teal);
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: -1;
}

@media screen and (min-width: 575px) {
  .postVideo {
    height: 375px;
  }
}

@media screen and (min-width: 768px) {
  .postVideo {
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  .postVideo {
    width: 60%;
  }

  .description {
    overflow-y: visible;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
