:root {
  font-size: 16px;
  --ember: rgb(107, 32, 0);
  --vermillion: rgb(196, 66, 26);
  --sandstone: rgb(249, 143, 69);
  --dusty: rgb(254, 222, 197);
  --mist: rgb(153, 207, 205);
  --aqua: rgb(18, 144, 142);
  --teal: rgb(22, 89, 74);
  --dropshadow: rgba(0, 0, 0, 0.5);
}

.post {
  margin: auto;
  position: relative;
}

.thumbnail {
  height: 200px;
}

.title {
  font-size: 2rem;
  color: var(--aqua);
}

.postedOn {
  font-size: 0.8rem;
  color: var(--teal);
}

.description {
  height: 50px;
  overflow-y: hidden;
}

.viewable {
  color: black;
  background-color: var(--mist);
  width: auto;
  border: none;
}

.border {
  height: 5px;
  width: 65vw;
  background-color: var(--teal);
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: -1;
}

@media screen and (min-width: 575px) {
  .post {
    height: 500px;
  }

  .thumbnail {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
