:root {
  --ember: rgb(107, 32, 0);
  --vermillion: rgb(196, 66, 26);
  --sandstone: rgb(249, 143, 69);
  --dusty: rgb(254, 230, 210);
  --mist: rgb(153, 207, 205);
  --aqua: rgb(18, 144, 142);
  --teal: rgb(22, 89, 74);
  --dropshadow: rgba(0, 0, 0, 0.5);
}

/* Sidebar Two styling */
.sectAbout {
  height: 80vh;
  position: relative;
  overflow: hidden;
  z-index: -99;
}

.twoRibOne {
  background-color: var(--mist);
  width: 50vw;
  height: 40vh;
  position: absolute;
  left: -50vw;
  z-index: -1;
  border-right: solid 5px var(--dusty);
}

.sideCarousel {
  position: absolute;
  width: 50vw;
  height: 40vh;
}

.twoRibTwo {
  background-color: var(--teal);
  width: 50vw;
  height: 40vh;
  position: absolute;
  right: -50vw;
  z-index: -1;
}

.twoRibThree {
  background-color: var(--aqua);
  width: 100vw;
  height: 40vh;
  position: absolute;
  bottom: 0vh;
  left: -100vw;
  z-index: -1;
  border-top: solid 5px var(--dusty);
}

.topOrnament {
  writing-mode: vertical-rl;
  font-size: 4rem;
  color: var(--mist);
  filter: drop-shadow(-4px 4px 0px var(--dusty));
  font-weight: bold;
  line-height: 0px;
  position: absolute;
  right: -10px;
  top: 20px;
  z-index: 1;
}

.bottomOrnament {
  writing-mode: vertical-rl;
  font-size: 4rem;
  color: var(--mist);
  filter: drop-shadow(-4px 4px 0px var(--dusty));
  font-weight: bold;
  line-height: 0px;
  position: absolute;
  right: 50px;
  top: 20px;
  z-index: 1;
}

.bgAbout {
  position: absolute;
  bottom: 0;
  color: var(--dusty);
  font-size: 2rem;
}

.buttonAbout {
  color: var(--teal);
}

/* Sidebar Three Styling */
/* .threeRibOne {
  background-color: var(--sandstone);
  width: 50vw;
  height: 40vh;
  position: absolute;
  left: -50vw;
  z-index: -1;
  border-right: solid 5px var(--dusty);
}

.threeRibTwo {
  background-color: var(--ember);
  width: 50vw;
  height: 40vh;
  position: absolute;
  right: -50vw;
  z-index: -1;
}

.threeRibThree {
  background-color: var(--vermillion);
  width: 100vw;
  height: 40vh;
  position: absolute;
  top: 40vh;
  left: -100vw;
  z-index: -1;
  border-top: solid 5px var(--dusty);
}

.emphasized {
  font-weight: bold;
  color: var(--mist);
} */

/* Sidebar One */
/* .sidebar {
  position: relative;
}

.video {
  margin: auto;
  display: block;
}

.ornament {
  font-size: 4rem;
  color: var(--mist);
  filter: drop-shadow(-4px 4px 0 var(--vermillion));
  font-weight: bold;
  position: absolute;
  bottom: -25px;
  left: 10px;
} */

@media screen and (min-width: 575px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
