/* Video Section / Intro Styling */
.collage {
  position: relative;
}

.mediaHero {
  max-height: 70vh;
  max-width: 100vw;
  border-top: 5px solid var(--vermillion);
  border-bottom: 5px solid var(--vermillion);
  display: block;
}

.ornamentHero {
  font-size: 2.2rem;
  color: var(--sandstone);
  filter: drop-shadow(-4px 4px 0px var(--teal));
  font-weight: bold;
  line-height: 80%;
  position: relative;
  bottom: 1.5rem;
  z-index: 5;
  text-align: end;
}

.flame {
  width: 150px;
  filter: drop-shadow(-3px 3px 4px var(--dropshadow));
  position: absolute;
  bottom: 0rem;
  z-index: 4;
}

.hands {
  width: 200px;
  transform: rotate(15deg);
}

.coa {
  margin: auto;
}

.coa p {
  color: var(--ember);
  margin-top: 30px;
}

.coa a {
  border-radius: 10px;
  border-bottom: 4px solid var(--vermillion);
  border-left: 4px solid var(--vermillion);
  background-color: var(--sandstone);
  filter: drop-shadow(0 0 3px var(--dropshadow));
  color: var(--ember);
}

@media screen and (min-width: 400px) {
  .ornamentHero {
    font-size: 3rem;
  }

  .mediaHero {
    max-height: 85vh;
  }
}

@media screen and (min-width: 540px) {
  .collage {
    width: 100vw;
    height: 65vh;
  }

  .squareOne {
    width: 250px;
    height: 300px;
    background-color: var(--vermillion);
    border-radius: 50px;
    position: absolute;
    top: 2vh;
    left: 7vw;
    z-index: 1;
  }

  .squareTwo {
    width: 150px;
    height: 150px;
    background-color: var(--mist);
    border-radius: 30px;
    position: absolute;
    top: 35vh;
    left: 13vw;
    z-index: 3;
  }

  .mediaHero {
    height: 400px;
    border: none;
    border-radius: 50px;
    position: absolute;
    top: 12vh;
    right: 7.5vw;
    z-index: 2;
  }

  .ornamentHero {
    position: absolute;
    bottom: -30px;
    right: 7.5vw;
  }

  .flame {
    bottom: -50px;
    width: 175px;
  }

  .hands {
    width: 225px;
  }
}

@media screen and (min-width: 540px) and (max-width: 768px) {
  .coa {
    margin-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .collage {
    width: 768px;
    height: 80vh;
  }

  .squareOne {
    height: 325px;
    width: 325px;
    left: 12%;
  }

  .squareTwo {
    height: 200px;
    width: 200px;
    top: 60%;
    left: 20%;
  }

  .mediaHero {
    height: 450px;
    right: 10%;
  }

  .ornamentHero {
    right: 15%;
    bottom: 0;
  }

  .flame {
    width: 225px;
    right: 0;
    bottom: -30px;
  }

  .hands {
    transform: scaleX(-1);
    width: 250px;
    bottom: 10px;
  }
}

@media screen and (min-width: 992px) {
  .squareOne {
    height: 250px;
    width: 250px;
    opacity: 0.75;
    left: 2%;
    top: 15%;
    z-index: 2;
  }

  .squareTwo {
    opacity: 0.75;
    top: 2vh;
    left: 12vw;
    z-index: 3;
  }

  .mediaHero {
    height: auto;
    max-width: 500px;
    left: 8vw;
    top: 8vh;
    z-index: 1;
  }

  .ornamentHero {
    font-size: 75px;
    top: 5vh;
    right: -10vw;
  }

  .flame {
    width: 350px;
    right: -10vw;
    bottom: -30px;
    z-index: 1;
    opacity: 0.75;
  }

  .hands {
    width: 325px;
    right: -20px;
  }

  .coa {
    position: absolute;
    top: 40vh;
    right: 0;
    z-index: 2;
  }

  .coa p {
    font-size: 18px;
    width: 325px;
  }

  .coa a {
    width: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .hands {
    width: 350px;
    right: -30px;
  }

  .coa {
    right: 80px;
  }

  .coa p {
    width: 400px;
  }

  .coa a {
    width: 200px;
  }
}

@media screen and (min-width: 1400px) {
  .hands {
    width: 400px;
    right: -150px;
  }
  .coa {
    top: 35vh;
    right: 10vw;
  }

  .coa p {
    width: 500px;
  }
}
